parser.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="parser">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="warningAt">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="value" type="xsd:integer"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
